html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial;  
  background: #222;
  overflow: hidden;
}

h1 {
    color: white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 10px;
}

section#viewport {
  position: absolute;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255,255,255, 0.2);
  left: 50%;
  top: 50%;
}

section#viewport.fullscreen {
  position: absolute;
  border: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}


section#viewport.mode480 {
  margin-left: -360px;
  margin-top: -240px;
  width: 720px;
  height: 480px;
}

section#viewport.mode540 {
  margin-left: -432px;
  margin-top: -270px;
  width: 864px;
  height: 540px;
}

section#viewport.mode594 {
  margin-left: -480px;
  margin-top: -297px;
  width: 960px;
  height: 594px;
}

section#viewport.mode720 {
  margin-left: -640px;
  margin-top: -360px;
  width: 1280px;
  height: 720px;
}

section#viewport canvas {
  width: 100%;
  height: 100%;
}

section.dialog {
  position: absolute;
  color: white;
  background: rgba(255,255,255, 0.1);
  border: 1px solid rgba(255, 215, 0, 0.2);
  left: 50%;
  top: 50%;
  width: 540px;
  height: 320px;
  margin-left: -270px;
  margin-top: -160px;
}

section.dialog h1 {
  background: url(logo.png) center center no-repeat;
  text-indent: -100000px;
  height: 70px;
}

section.dialog p.version {
  position: absolute;
  left: 5px;
  bottom: 0px;
  font-size: 9px;
  color: #666666;
}

section.dialog section {
  margin: 20px 40px 20px 40px;
  height: 180px;
}

section.dialog .notice {
  display: block;
  background: rgba(255,0,0, 0.1);
  padding-top: 60px;
  text-align: center;
  color: white;
  height: 120px;
}

section.dialog p {
  text-align: center;
  margin: 0 0 12px 0;
  color: #ccc;
  font-size: 0.8em;  
}

section#splash {
  display: none;
}

section#splash .server-info {
  display: none;
  background: rgba(0,0,0, 0.3);
  color: white;
  text-align: center;
}

section#splash .server-info h2 {
  color: rgb(255, 215, 0);
  font-size: 0.9em;
  padding-top: 10px;
  margin: 0 0 10px 0;
  text-align: center;
}

section#splash .server-info h2 span {
  display: block;
  color: #444444;
  font-size: 0.7em;
}

section#splash .server-info p {
  position: relative;
  margin: 0 0 3px 0;
  color: #666666;
  font-size: 0.6em;
  width: 225px;
  text-align: right;  
}

section#splash .server-info p span {
  position: absolute;
  text-align: left;
  left: 235px;
  width: 200px;
}

section#splash .actions {
  position: relative;
  font-size: 0.7em;
  color: #666666;
  margin-left: 147px;
  padding-top: 10px;
  text-align: left;
}

section#splash .server-info .actions .span {
}

section.dialog .actions  a {
  color: #33B6FF;
}

section.dialog  button {
  border-size: 1px;
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #ffffff;
  background: black;
}

section#options {
  display: none;
}

section#options label {
  display: inline-block;
  margin: 0 0 3px 0;
  color: #666666;
  font-size: 0.6em;
  width: 225px;
  text-align: right;  
}

section#options input {
  display: inline-block;
  text-align: left;
  left: 235px;

}

section#options input[type="text"] {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 215, 0, 0.8);
  color: #fff;
  padding: 1px;
  font-size: 0.7em;
}

section#options input[type="checkbox"] {
  margin-right: 100px;
}

section#options .actions {
  padding-top: 10px;
  text-align: center;
}