html {
  height: 100%;
}

body {
  font-family: Arial;  
  background-image: url(../images/space.jpg);
  background-size: 100% 100%;
  background-position: center center;
}

h1 {
    color: white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 10px;
}

a {
  color: #33B6FF;
}

#viewport {
  position: absolute;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255,255,255, 0.2);
  left: 50%;
  top: 50%;
}

#viewport.mode480 {
  margin-left: -360px;
  margin-top: -240px;
  width: 720px;
  height: 480px;
}

#viewport.mode540 {
  margin-left: -432px;
  margin-top: -270px;
  width: 864px;
  height: 540px;
}

#viewport.mode594 {
  margin-left: -480px;
  margin-top: -297px;
  width: 960px;
  height: 594px;
}

#viewport.mode720 {
  margin-left: -640px;
  margin-top: -360px;
  width: 1280px;
  height: 720px;
}

#viewport canvas {
  width: 100%;
  height: 100%;
}

.dialog {
  position: absolute;
  color: white;
  background: rgba(255,255,255, 0.1);
  border: 1px solid rgba(255, 215, 0, 0.2);
  left: 50%;
  top: 50%;
  width: 540px;
  height: 320px;
  margin-left: -270px;
  margin-top: -160px;
}

.dialog h1 {
  background: url(../images/logo.png) center center no-repeat;
  text-indent: -100000px;
  height: 70px;
}

.dialog p.version {
  position: absolute;
  left: 5px;
  bottom: 0px;
  font-size: 9px;
  color: #666666;
}

.dialog .notice {
  display: block;
  padding-top: 60px;
  text-align: center;
  color: #FFD700;
  height: 120px;
}

.dialog p {
  text-align: center;
  margin: 0 0 12px 0;
  color: #ccc;
  font-size: 0.8em;  
}

#splash {

}

#splash .actions {
  position: relative;
  font-size: 0.7em;
  color: #666666;
  margin-left: 147px;
  padding-top: 10px;
  text-align: left;
}

.dialog  button {
  border-size: 1px;
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #ffffff;
  background: black;
}