html {
  height: 100%;
}

body {
  font-family: Arial;  
  background-image: url(space.jpg);
  background-size: 100% 100%;
  background-position: center center;
}

h1 {
    color: white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 10px;
}

section {
  position: absolute;
  color: #ffffff;
  margin-left: -320px;
  margin-top: -240px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255,255,255, 0.2);
  left: 50%;
  top: 50%;
  width: 640px;
  height: 480px;
}

section#viewport canvas {
  width: 100%;
  height: 100%;
}

#fps {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  color: white;
  font-size: 12px;  
  font-weight: bold;
}

#pos {
  position: absolute;
  left: 0;
  bottom: 200px;
  text-align: left;
  color: white;
  font-size: 12px;  
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 9px;
  color: #eeeeee;
  padding: 10px;
}